* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'montserrat', sans-serif;
  color: #F5F5F5;
  background-color: #0B132B;
  /* margin-right: auto;
  margin-left:  auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left:  10px; */
}
.App {
  position: relative;
  min-height: 100vh;
  background: radial-gradient(#0B132B, #000);
  /* display: flex; */
  padding: 1rem;
  padding-bottom: 10rem;
  flex-flow: row wrap;
}
.top{
  position: relative;
  margin-top: 35px;
  left: 36.5%;
  font-size: 2rem;
}
.search-box {
  justify-self: center;
    height: 30px;
    width: 400px;
    margin-left: 15px;
}
.search-box::placeholder {
  color: #b5bbc9;
}
.nomination{
  position: relative;
  margin-top: 30px;
  border-style: dotted;
  border: gold;
  display: flex;
  justify-content: space-between;
}
.movie-list{
  margin-top: 30px;
  border-style: dashed;
  height: auto;
  margin-left: 50px;
  overflow: scroll;
  height: 800px;
  max-width: 600px;
  padding: 30px;
}
.nominated-list{
position: sticky;
margin-top: 30px;
border-style: double;
margin-right: 50px;
padding: 30px;
}
.poster{
  height: 300px;
  width: 200px;
}